body {
	background-image:url("IMG_2.png");
	color:white;
	font-family:"arial";
	font-size:25px;
}
h1 {
	font-size:38px;
	font-family:"perpetua";
}
h2 {
   font-size : 38px;
   font-family : "perpetua";
   }
h3 {
    font-size : 38px;
	font-family : "perpetua";
	}